In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
%matplotlib inline

In [2]:
train_Df = pd.read_csv('train_LZdllcl.csv')
test_Df = pd.read_csv('test_2umaH9m.csv')

In [3]:
train_Df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
train_Df.education.unique()

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'], dtype=object)

In [5]:
train_Df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [6]:
trainDf = train_Df.copy()
testDf = test_Df.copy()

In [7]:
strfeature = ['department','region','gender','recruitment_channel']

In [8]:
for i in strfeature:
    le = preprocessing.LabelEncoder()
    #trainDf[i] = trainDf[i].fillna(0)
    trainDf[i] = le.fit_transform(trainDf[i])
    testDf[i] = le.fit_transform(testDf[i])

In [9]:
def kpi(kpi,y):
    #print(kpi,y)
    if(kpi == 0):
        if(y!=0):
            print('err')

In [10]:
trainDf.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,7,31,Master's & above,0,2,1,35,5.0,8,1,0,49,0
1,65141,4,14,Bachelor's,1,0,1,30,5.0,4,0,0,60,0
2,7513,7,10,Bachelor's,1,2,1,34,3.0,7,0,0,50,0
3,2542,7,15,Bachelor's,1,0,2,39,1.0,10,0,0,50,0
4,48945,8,18,Bachelor's,1,0,1,45,3.0,2,0,0,73,0

In [11]:
trainDf.education.unique()

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'], dtype=object)

In [12]:
trainDf.previous_year_rating.unique()

array([  5.,   3.,   1.,   4.,  nan,   2.])

In [13]:
def educationtransform(x):
    if(x == 0):
        return 0;
    if (x == "Master's & above" ):
        return 1;
    if (x == "Bachelor's" ):
        return 2;
    if (x == "Below Secondary"):
        return 3;
    else:
        return 4

In [14]:
trainDf['education'] = trainDf['education'].apply(educationtransform)
testDf['education'] = testDf['education'].apply(educationtransform)

In [15]:
#trainDf.info(null_counts=True)

In [16]:
#testDf.info(null_counts=True)

In [17]:
#trainDf.columns

In [18]:
def Grid_Search_CV_RFR(X_train, y_train):
    from sklearn.model_selection import GridSearchCV
    from sklearn.model_selection import ShuffleSplit
    from sklearn.ensemble import RandomForestRegressor
    from sklearn.ensemble import ExtraTreesClassifier
    from sklearn.ensemble import RandomForestClassifier

    estimator = RandomForestClassifier()
    param_grid = { 
            "n_estimators"      : [100,150],
            "max_features"      : ["sqrt","log2"],
            "min_samples_split" : [10,20],
            "bootstrap": [True],
            "max_depth":[20,30]
            }

    grid = GridSearchCV(estimator, param_grid, n_jobs=-1, cv=5)
    grid.fit(X_train, y_train)
    print(grid.best_score_ , grid.best_params_)
    return grid

In [19]:
trainDf.dropna(inplace=True)

In [20]:
sns.set(color_codes=True)
sns.set(style="whitegrid")
#tips = sns.load_dataset("trainDf")
#ax = sns.heatmap(trainDf[['KPIs_met >80%','is_promoted']])
#ax = sns.barplot(x="KPIs_met >80%", y="is_promoted", data=trainDf)
#--
#ax  = sns.lmplot( x="length_of_service",y="KPIs_met >80%", hue = "is_promoted", data=trainDf);
#ax  = sns.lmplot( y="length_of_service",x="age", hue = "is_promoted", data=trainDf);

#ax  = sns.catplot(x="previous_year_rating",y="KPIs_met >80%",kind="swarm",hue = "is_promoted", data=trainDf);

In [21]:
#sns.boxplot(X['length_of_service'])
#sns.boxplot(X['age'])
#sns.lmplot(x="length_of_service", y="age", hue="is_promoted", data=trainDf);


sns.pairplot(trainDf[['age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted']],hue = "is_promoted");

In [22]:
X_t = trainDf.iloc[:,1:13]
y=trainDf.iloc[:,13:14]
dropfeature = ['gender','education','recruitment_channel','awards_won?','KPIs_met >80%','previous_year_rating','no_of_trainings']

In [23]:
X_t.fillna(0,inplace=True)
pca = PCA(n_components=1)
pca.fit(X_t[dropfeature])

PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [24]:
reduced_dimensionality_train = pca.fit_transform(X_t[dropfeature])
rd_train = pd.DataFrame(reduced_dimensionality_train)
rd_train.shape,X_t.shape

((50684, 1), (50684, 12))

In [25]:
X_t = X_t.reset_index()
rd_train = rd_train.reset_index()
X = pd.concat([X_t,rd_train],axis=1)

In [26]:
X.shape

(50684, 15)

In [27]:
def kpi_info(KPIs_met):
    if(KPIs_met<60):
        return 0
    if(KPIs_met>60):
        return 1

In [28]:
def traininginfovalidator(no_of_training,avg_training_score):
    return no_of_training*avg_training_score

In [29]:
def prom_on_len_service_val(age,length_of_service):
    return age-length_of_service

In [30]:
#X['totscore'] = traininginfovalidator(X['no_of_trainings'],X['avg_training_score'])
#X['totalservice']= prom_on_len_service_val(X['age'],X['length_of_service'])

In [31]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
import numpy as np
rf = RandomForestRegressor()
rf.fit(X, y)
#sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), X.head(0)),reverse=True)
sorted(zip(rf.feature_importances_, X.head(0)),reverse=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

[(0.23867529653275316, 'avg_training_score'),
 (0.14778919784331634, 'department'),
 (0.096730586747292263, 'index'),
 (0.092489781588274741, 'index'),
 (0.086948664448784269, 0),
 (0.086575504579199117, 'age'),
 (0.067564674781941877, 'region'),
 (0.060075626092217428, 'length_of_service'),
 (0.040737874240179425, 'KPIs_met >80%'),
 (0.023529908322110427, 'awards_won?'),
 (0.014635706759380524, 'recruitment_channel'),
 (0.013500654082760976, 'education'),
 (0.012158622503275436, 'gender'),
 (0.011296601117653796, 'no_of_trainings'),
 (0.007291300360860206, 'previous_year_rating')]

In [32]:
X.drop(dropfeature,axis=1,inplace=True)
X.drop(['index'], axis=1,inplace=True)

In [33]:
X.head()

   department  region  age  length_of_service  avg_training_score         0
0           7      31   35                  8                  49 -1.795268
1           4      14   30                  4                  60 -1.588499
2           7      10   34                  7                  50  0.362943
3           7      15   39                 10                  50  2.400553
4           8      18   45                  2                  73  0.386432

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.1)

In [35]:
clf = Grid_Search_CV_RFR(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

0.939405897183 {'bootstrap': True, 'max_depth': 30, 'max_features': 'log2', 'min_samples_split': 10, 'n_estimators': 100}

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,clf.predict(X_test))

0.94061945156835669

In [37]:
testDf.fillna(0,inplace=True)

In [38]:
testfeatue_temp = testDf.iloc[:,1:13]

In [39]:
reduced_dimensionality_test = pca.fit_transform(testfeatue_temp[dropfeature])
rd_test = pd.DataFrame(reduced_dimensionality_test)
testfeatue_temp = testfeatue_temp.reset_index()
rd_test = rd_test.reset_index()
testfeatue = pd.concat([testfeatue_temp,rd_test],axis=1)

In [40]:
#testfeatue['totscore'] = traininginfovalidator(testfeatue['no_of_trainings'],testfeatue['avg_training_score'])
#testfeatue['totalservice']= prom_on_len_service_val(testfeatue['age'],testfeatue['length_of_service'])
testfeatue.drop(dropfeature,axis=1,inplace=True)
testfeatue.drop(['index'], axis=1,inplace=True)

In [41]:
for k in zip(X.columns,testfeatue.columns):
    print(k)

('department', 'department')
('region', 'region')
('age', 'age')
('length_of_service', 'length_of_service')
('avg_training_score', 'avg_training_score')
(0, 0)

In [42]:
test_res = clf.predict(testfeatue)
submission = pd.DataFrame({'employee_id':testDf['employee_id'],
                           'is_promoted':test_res})

In [43]:
import os
try:
    os.remove('submission.csv')
except OSError:
    pass

In [44]:
submission.to_csv('submission.csv',index = False,columns=['employee_id', 'is_promoted'])